.success-snackbar {
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: white;
  }
.warn-snackbar {
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: white;
}